// $body-bg: #181716;
$body-bg: #0f302a;

// $body-color: rgba(255, 255, 255, 0.9);
$body-color: black;

$theme-colors: (
  // 'primary': #166285,
  'primary': #b9314f,
  'secondary': #4f4f52,
  'success': #577717,
  'info': #3f7679,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #c8c8c8,
  'dark': black
);

@import 'bootstrap/scss/bootstrap';
